body {
    font-family: sans;
}

.black {
    background: black;
}

.black-outline {
    border-color: black;
    color: black;
}

.blue {
    background: blue;
}

.blue-outline {
    border-color: blue;
    color: blue;
}

.green {
    background: green;
}

.green-outline {
    border-color: green;
    color: green;
}

.gold {
    background: gold;
}

.gold-outline {
    border-color: gold;
    color: gold;
}

.red {
    background: red;
}

.red-outline {
    border-color: red;
    color: red;
}

#menu {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
}

#menu button {
    border: 0;
    float: left;
    height: 100%;
    min-width: 40px;
}

#menu button:first-child {
  border-radius: 5px;
}

#menu .color {
  width: 40px;
}

#menu .color:hover {
  cursor: pointer;
}

#new {
    background: white;
    pointer-events: none;
} 

#notes div {
    margin-top: 15px;
}

#notes button, #notes textearea {
    vertical-align: top;
}

#notes button::before {
    content: 'x';
}

#notes button {
    border: 1px solid;
    border-left: 0;
    border-radius: 0 5px 5px 0px;
    margin-top: 1px;
    padding: 2px 7px;
}

#notes textarea {
    border: 0;
    border-radius: 5px 0 5px 5px;
    color: white;
    display: inline-block;
    font-size: 14px;
    min-width: 200px;
    overflow: hidden;
    padding: 15px 15px 5px;
    position: relative;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#notes textarea:focus {
    resize: both;
}